.myHeader {
    min-height: 50px;
    background-color: darkcyan;
}
/* .myBody {
    background-color:  rgb(193, 209, 193);
    align-items: center;
    padding-left: 300px;
} */
/* .myFooter {
    min-height: 100px;
    background-color: darkgoldenrod;
} */
/* .myCard {
    width: 18rem;
} */